.detailBox{
    width: 972px;;
    height: 1008px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.headerBtns{
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.back{
    width: 32px;
    height: 32px;
    margin-top: 28px;
}

.more{
    margin-top: 33px;
    width: 5px;
    height: 21px;
    margin-right: 19px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.toDoInfoBox{
    width: 100%;
    height: 218px;
    margin-top: 32px;
}

.step{
   display: flex;
}

.stepRound{
    width: 51px;
    height: 24px;
    border: 1px solid #487AFF;
    border-radius: 20px;
    display: flex;
}

.stepText{
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #487AFF;
    margin: auto;
}

.stepName{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #487AFF;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.subName{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.taskName{
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: #383838;
}

.finBtn{
    width: 136px;
    height: 36px;
    margin-right: 20px;
}

.subInfo{
    display: flex;
    flex-direction: column;
    margin-top: 37px;
}

.manager
, .date
, .state{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #707070;
    margin-bottom: 25px;
}
.managerInput{
    margin-left: 52px;
    font-weight: 400;
    font-size: 20px;
}

.dateInput{
    margin-left: 67px;
    font-weight: 400;
    font-size: 20px;
}

.stateInput{
    margin-left: 32px;
    font-weight: 400;
    font-size: 20px;
}

.top{
    margin-bottom: 71px;
}

.file{
    display: flex;
    flex-direction: row;
}

.fileText{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #383838;
    margin-left: 6px;
    margin-top: auto;
    margin-bottom: auto;
}

.addFile{
    width: 100px;
    height: 28px;
    margin-left: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.files{
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow: auto;
    display: flex;
}

.fileCard{
    width: 272px;
    height: 92px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #D5DBEE;
    margin-right: 28px;
    min-width: 272px;
}

.fileName{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.nameText{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #707070;
    margin-right: 39px;
}

.icons{
    width: 20px;
    height: 20px;
    display: flex;
}

.download{
    margin-right: 8px;
}

.fileInfo{
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #A7A7A7;
    margin-left: 20px;
    display: flex;
    margin-top: 20px;
}

.fileSize{
    margin-left: auto;
    margin-right: 20px;
}

.mid{
    margin-bottom: 72px;
}

