.profileBox{
    width: 972px;
    height: 688px;
    border: 2px solid #D5DBEE;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
}

.profileImg{
    width: 220px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

input{
    background-color:transparent;
    border: none;
    flex-wrap: nowrap;
    
}

.profileInfo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.profileName{
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
}

.profileEmail{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #383838;
    margin-top: 20px;
}

.logout{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #487AFF;
    margin-top: 21px;
}

.logout:hover{
    cursor : grab;
}

.schoolInfo{
    margin-top: 56px;
    margin-left: 100px;
}

.infoBox{
    width: 372px;
    height: 50px;
    background-color: rgba(237, 239, 246, 0.5);
    border-radius: 12px;
    display: flex;
    margin-right: 28px;
}

.infoText{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #707070;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    margin-right: 28px;
}

.schoolInfoLine2{
    display: flex;
    margin-top: 24px;
    margin-left: 100px;
}

.school, .major, .grade{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #383838;
    margin-top: auto;
    margin-bottom: auto;
}

.editBtn{
    width: 114px;
    height: 40px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

.editBtn:hover{
    cursor: grab;
}