

.toDoBox{
    width: 1172px;
    height: 556px;
    background-color: #F9FAFD;
    display: flex;
    border-radius: 16px;
    overflow: overlay;
    justify-content: center;
    /* 만약 박스가 비어 있으면 center, 하나라도 할 일이 있으면 flex-start */
}

::-webkit-scrollbar {
    width: 0.5vw;
    background-color: #F9FAFD;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    width: 0.5vw;
    background-color: gray;
    border-radius: 10px;
  }
/* 호버 안해도  스크롤 내리면 스크롤 바 보여지게 못하나ㅣ ㅠㅠ */


.empty{
    align-self: center;
}