.listBox{
    width: 1172px;
    height: 810px;
    display: flex;
    flex-direction: column;
}

.fileHeader{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #707070;
    display: flex;
    margin-top: 20px;
    height: 52px;
}

.fileName{
    width: 400px;
}

.fileLoc{
    width: 200px;
}

.fileOwner{
    width: 200px;
}

.fileSize{
    width: 100px;
}

.fileDate{
    width: 200px;
}

.fileList{
    display: flex;
    flex-direction: column;
}

.file{
    display: flex;
    width: 1172px;
    height: 72px;
}

.file:hover{
    background-color: #EAF2FF;
    cursor: grab;
}

.name{
    width: 376px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #707070;
    max-width: 376px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
}

.loc{
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #A7A7A7;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.owner,
.date{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #A7A7A7;
    width: 200px;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.size{
    width: 100px;
    max-width: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #A7A7A7;
    margin-top: auto;
    margin-bottom: auto;
}

.icon{
    height: 16px;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon:hover{
    cursor: grab;
}

img{
    max-width: 100%;
    max-height: 100%;
}